@media only screen and (min-width: 32.5em) {
    header {
        text-align: center;
    }
    nav ul, nav ul.navigation {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav button {
        display: none;
    }
    .h2-contact {
        display: block;
        text-align: right;
    }
    .p-contact {
        display: block;
        text-align: right;
    }
    .img-contact {
        float: left;
        width: 60%;
        height: 150px;
    }
      footer {
        display: block;
        text-align: center;
    }
/* medium screen view */    
    div.hometown_cards section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div.hometown_cards section#town1 h2 {
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        grid-column: 1;
        position: relative;
        top: 0.5rem;
    }
    div.hometown_cards section#town1 p {
        grid-column: 1;
        position: relative;
        top: 0.5rem;
    }
    div.hometown_cards section#town1 img {
        grid-column: 2;
        padding-right: 2rem;
        position: relative;
        bottom: 10rem;
    }

    div.hometown_cards section#town2 h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        grid-column: 2;
        position: relative;
        top: 0.5rem;
    }
    div.hometown_cards section#town2 p {
        grid-column: 2;
        position: relative;
        top: 0.5rem;
        margin-left: 1.5rem;
    }
    div.hometown_cards section#town2 img {
        grid-column: 1;
        padding-left: 2rem;
        position: relative;
        bottom: 12.5rem;
    }
    
    div.hometown_cards section#town3 h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        grid-column: 1;
        position: relative;
        top: 0.5rem;
    }
    div.hometown_cards section#town3 p {
        grid-column: 1;
        position: relative;
        top: 0.5rem;
    }
    div.hometown_cards section#town3 img {
        grid-column: 2;
        padding-right: 2rem;
        position: relative;
        bottom: 10rem;
    }
}