@media only screen and (min-width: 32.5em) {
    header {
        text-align: center;
    }
    nav ul, nav ul.navigation {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav button {
        display: none;
    }
    .h2-contact {
        display: block;
        text-align: right;
    }
    .p-contact {
        display: block;
        text-align: right;
    }
    .img-contact {
        float: left;
        width: 400px;
        height: 150px;
    }
      footer {
        display: block;
        text-align: center;
    }
/* medium screen view */    
    .hometown_cards {
        display: grid;
        grid-template-columns: 1fr;
    }
  
    .hometown_cards img {
        grid-column: 1;
        grid-row: 1;
    }
    
    .hometown_cards p {
        grid-column: 1;
        grid-row: 1;
        padding: .75rem;
    }
    
    .hometown_cards img {
        width: 50%;
        height: auto;
        padding:0;
    }
    .hometown_cards {
        background-color:#87ceeb;
        color:#fff;
    }
}