main {
    font-family: New Tegomin, sans-serif;
    padding: 0.5rem;
    margin: 0.5rem;
    box-sizing: border-box;
    background-color: #87ceeb;
}
header {
    max-width: 100%;
    background-color: cyan;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: left;
}

.logo {
    max-width: 100px;
}
.banner {
    text-align: right;
}
.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-family: "Inconsolata", monospace;
    font-size: 25px;
    text-align: left;
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.moto {
    font-style: italic;
    color: #000000;
    margin-left: 20px;
    font-size: .9rem;
    text-align: left;
}
.active, .active:hover {
    background-color: yellowgreen;
}

/* Small/Phone View ***************/
button {
    background-color:#000000;
    color: aliceblue;
    font-size: 1rem;
    font-family: "Inconsolata", monospace;
}

nav {
	margin: 0 auto;
	max-width: 100%;
    font-size: 1rem;
	background-color: cyan;
    text-shadow: 10px 5px 5px black;
    text-align: center;
    box-shadow: 10px 5px 5px white;
}
nav button {
    margin: 0.5rem 5%;
    font-size: 1rem;
    background-color:#00ffff;
    color:#000;
    border: none;
}
.navigation{
	display: block;
    flex: 1 1 auto;
    text-align: center;
}
nav ul.navigation {
    display: none;
}
nav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover {
	color: white;
	background-color: black;
}

.navigation {
	display: flex;
	}

nav a {
	text-align: center;
	}

p {
    font-size: 13px;
    font-family: "Cormorant Garamond", serif;
    color:#000;
    font-size: 1rem;
    text-align: center;
    }
a {
    color:#000;
    font-size: 1.3rem;
    text-decoration: none;
    text-align: center;   
    }
    
h2 {
    font-size: 20px;
    font-family: "Inconsolata", monospace;
    text-align: center;
}
h3 {
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    text-align: center;
}

.contentbox-hero {
    display: block;
    margin: 10px auto;
    padding: 15px;
    background-color: aliceblue;
    color: #444;
    font-style: italic;
}
.contentbox-forecast {
    display: block;
    margin: 0.5px;
    padding: 15px;
    background-color: aliceblue;
    color: #444;
    font-style: italic;
}
.contentbox-article {
    display: block;
    margin: 10px auto;
    border: 1px dashed #000;
    padding: 15px;
    background-color: aliceblue;
    color: #444;
    font-style: italic;
}
.contentbox-contact {
    display: block;
    margin: 10px auto;
    border: 1px dashed #000;
    padding: 15px;
    background-color: #f5f5dc;;
    color: #444;
    font-style: italic;
}

.contentbox-hero img {
    width: 100%;
    height: 300px;
}
.action {
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: .9;
}
.chill {
    color: yellow;
}

.flex {
	display: flex;
	flex-flow: row wrap;
}

.flex-col {
	flex: 1 1 auto;
	background-color: #bed;
}
.flex-col {
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	text-align: center;
}
.flex-col:hover, td:hover {
	opacity: 0.75;
	background-color: black;
	color: white;
}
.flex {
	border-right: 1px solid #333;
}

.col-head {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #333;
	text-align: center;
}

.img {
	border-radius: 100px;
	padding: 0.25rem;
}

.data {
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}

.col-head,th {
	font-weight: 700;
	font-size: 1rem;
	background-color: black;
	color: white;
}
.h2-article {
    text-align: left;
    font-size: 20px;
    font-family: "Inconsolata", monospace;
}
.img-article {
    width: 100%;
    height: 200px;
}
.h2-contact {
    text-align: left;
}
.p-contact {
    text-align: left;
}
.img-contact {
    width: 100%;
    height: 200px;
    background-color: #f5f5dc;
}
footer {
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    text-align: center;
    background-color: cyan;
    padding: 5px;
}