/*large view*/
@media only screen and (min-width: 60em) {
    header {
      max-width: 64rem;
      padding-top: 2.5%;
      padding-bottom: 3.5%;
      font-size: 30px;
    }
    h1 {
      font-size: 2rem;
    }
    nav ul li a {
      font-size: 1.5rem;
    }
  }  