:root {
  --primary-color: #0AEFFF;
  --secondary-color: #f5f5dc;
  --accent1-color: #000000;
  --accent2-color: #ffffff;
}

/*small view - styles start here and progress to larger viewports*/
body {
    max-width: 64rem;;
    text-align: center;
    margin: auto;
    background-color: #B2E6E4;
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
}
header {
  max-width: 64rem;
  font-family: 'Tangerine', cursive;
  background-color: #0AEFFF;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li a {
    display: block;
    background-color: #3e54b8;
    color: white;
    white-space: nowrap;
    text-align: center;
    border: solid;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}
h1 {
  font-family: 'Tangerine', cursive;
}
h2 {
  font-family: 'Inconsolata', monospace;
}
h3 {
  font-family: 'Inconsolata', monospace;
}
a:hover {
  background-color: #B7BBD4;
  color: #ffffff;
}

p {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Cormorant Garamond', serif;
}

.logo {
  max-width: 100%;
}

/*css specific to index.html*/
#domain {
  font-weight: bold;
}
  
/*css specific to color-scheme.html*/
  
.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
  border: 1px solid black;
  padding: 5px;
}
.colors td{
  border: 1px solid black;
  color: #ff0000;
  padding: 5px;
  width: 25%;
  height: 3em;
}
  
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--text-background-color);
  color: var(--paragraph-color-on-color);
}
 
/*css specific to typography.html*/
.typo tr td {
  border: 1px solid black;
  padding: 5px;
  width: 25%;
  height: 3em;
  text-align: center;
}

.font-header {
  font-family: 'Tangerine', cursive;
}
.font-navigation {
  font-family: 'Inconsolata', monospace;
}
.font-footer {
  font-family: 'Inconsolata', monospace;
}
.font-h1 {
  font-family: 'Tangerine', cursive;
}
.font-h2 {
  font-family: 'Inconsolata', monospace;
}
.font-h3 {
  font-family: 'Inconsolata', monospace;
}
.font-paragraph {
  font-family: 'Cormorant Garamond', serif;
}

.sample {
  background-color: #0AEFFF;
}

.size-header {
  font-size: 30px;
}
.size-navigation {
  font-size: 20px;
}
.size-footer {
  font-size: 15px;
}
.size-h1 {
  font-size: 25px;
}
.size-h2 {
  font-size: 20px;
}
.size-h3 {
  font-size: 15px;
}
.size-paragraph {
  font-size: 13px;
}

footer {
  max-width: 100%;
  font-family: 'Inconsolata', monospace;
  background-color: #0AEFFF;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 15px;
}